@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}

// These values are the minimum and maximum viewport sizes to apply the font scaling
$min_width: 400;
$max_width: 800;
// These values represent the range of font size to apply
// These values effect the base font-size, headings and other elements will scale proportionally
$min_font: 12;
$max_font: 18;

:root {
  --backgroundColor: hsl(260, 50%, 98%);
  --mainColor: hsl(183, 99%, 30%);
  --accentColor: hsl(25, 98%, 62%);
  --greyColor: hsl(0, 0%, 40%);
  font-size: #{$min_font}px;
}
// This part is a little bit ugly, I will explain what is going on in a blog post soon.
@media (min-width: #{$min_width}px) and (max-width: #{$max_width}px) {
  :root {
    font-size: calc(
      #{$min_font}px + (#{$max_font} - #{$min_font}) *
        ((100vw - #{$min_width}px) / (#{$max_width} - #{$min_width}))
    );
  }
}
@media (min-width: #{$max_width}px) {
  :root {
    font-size: #{$max_font}px;
  }
}

h1 {
  font-family: var(--font-maven);
}

html {
  font-family: var(--font-muli);
  height: 100vh;
  width: 100vw;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  background: var(--backgroundColor);
  font-family: var(--font-muli);
}

footer {
  margin-top: auto;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
  height: 100%;
}
