.card {
  border: 1.5px solid var(--mainColor);
  background: transparent;
  border-radius: 4px;
  padding: 0.5em 1em;
  cursor: pointer;

  .card-content {
    display: flex;
    flex-direction: column;
    .title {
      text-align: left;
      font-weight: 500;
    }

    .text {
      text-align: left;
    }
  }
}
