.link {
  display: flex;
  height: 48px;
  width: 100%;
  align-items: center;
  &:hover > * {
    color: var(--accentColor);
    stroke: var(--accentColor);
  }

  .icon {
    min-width: 24px;
    min-height: 24px;
    margin-right: 12px;
  }

  p {
    flex: 1;
  }
}
